.center {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.vert-center {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

#sec-1 {
  min-height: 100vh;
  text-align: center;
  display: block; }
  #sec-1 #bg {
    position: fixed;
    object-fit: cover;
    width: 100vw;
    height: 100%; }
  #sec-1 h1 {
    color: #FC4A1A; }
  #sec-1 #welc-image {
    -webkit-animation: fadein 1s;
    -ms-animation: fadein 1s;
    animation: fadein 1s;
    animation-fill-mode: backwards;
    border: solid #FC4A1A 10px;
    border-radius: 1000px; }
  #sec-1 #welcText {
    font-size: 70px;
    color: #FC4A1A;
    margin: 10px;
    -webkit-animation: fadein 1s 0.7s;
    -ms-animation: fadein 1s 0.7s;
    animation: fadein 1s 0.7s;
    animation-fill-mode: backwards; }
  #sec-1 #arrowToSec2 {
    position: absolute;
    font-size: 50px;
    bottom: 10px;
    color: #FC4A1A;
    z-index: 999;
    -webkit-animation: fadein 1s 2s;
    -ms-animation: fadein 1s 2s;
    animation: fadein 1s 2s;
    transition: 0.3s;
    animation-fill-mode: backwards;
    text-decoration: none; }
  #sec-1 #arrowToSec2:hover {
    font-size: 60px; }

#sec-2 {
  color: black;
  text-align: center;
  line-height: 100%;
  min-height: 100vh;
  display: block;
  position: relative;
  color: #FC4A1A; }
  #sec-2 .container {
    margin-top: 30vh;
    margin-bottom: 30vh;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3em; }
  #sec-2 .quote {
    font-style: italic; }
  #sec-2 i {
    font-size: 60px; }
  #sec-2 a {
    margin: 10px;
    font-size: 30px;
    color: #FC4A1A;
    transition: 0.5s; }
  #sec-2 a:hover {
    color: #DFDCE3;
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    -webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2); }
  #sec-2 a:link {
    text-decoration: none; }
  #sec-2 p {
    color: #DFDCE3;
    line-height: 1.5em; }

#sec-3 {
  min-height: 100vh;
  text-align: center;
  display: block;
  position: relative;
  margin-top: 30vh;
  color: black;
  text-align: center;
  line-height: 100%;
  display: block;
  position: relative;
  color: #FC4A1A; }
  #sec-3 .container {
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 100%;
    padding: 3em; }

/* KEYFRAMES */
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
